name: CI

# Controls when the action will run. 
on: 
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      debug_enabled:
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'     
        required: false
        default: 'no'
  release:
    types: [published]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    if: ${{ !(github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')) }}
    env:
      build_variant: ${{ matrix.build_variant }}
      targets: ${{ matrix.targets }}
      images_dir: /opt/images
    strategy:
      matrix:
        include:
         - build_variant: "mt7620"
           targets: "RT-N14U"
    steps:
      - uses: actions/checkout@v4
      - name: Prepare environment
        run: |
          sudo apt update
          sudo apt install libtool-bin gperf python3-docutils autopoint gettext
      - name: Run shellcheck
        run: sh ./trunk/tools/shellcheck.sh
      - name: Prepare toolchain
        run: |
          cd toolchain-mipsel
          sh dl_toolchain.sh
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.debug_enabled == 'yes' }}
        with:
          limit-access-to-actor: true
      - name: Start build
        run: |
         cd trunk
         # 1. Записываем ваш конфиг прямо в файл
         cat <<EOT > linux-3.4.x/.config
         $(cat <<'EOF'
         # Здесь ваш текст конфигурации...
         CONFIG_MIPS=y
         CONFIG_SOC_MT7620=y
         CONFIG_RALINK_MT7620=y
# ... и все остальные строки, что вы прислали
EOF
)
EOT
        # 2. Дозаполняем остальные тысячи параметров значениями по умолчанию
        cd linux-3.4.x && yes "" | make oldconfig && cd ..
        
        # 3. Запускаем сборку
        fakeroot ./build_firmware_ci RT-N14U
          done
      - name: Create archive
        if: ${{ github.event_name != 'release' && success() }}
        run: |
          ls -lh ${images_dir}
          GIT_VERSION=`git rev-parse --short=7 HEAD 2>/dev/null` && [ -n "$GIT_VERSION" ] && \
          image_name=images_${build_variant}_${GIT_VERSION} || image_name=images_${build_variant}
          cd ${images_dir}; md5sum *.trx |tee md5sum.txt; 7z a -mx=9 ${image_name}.7z ./*
          echo "image_name=${image_name}" >> $GITHUB_ENV
      - name: Upload images to Artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Padavan-Firmware-Files
          path: /opt/images/         
